html, body{
	height: 100%;
}
@mixin section(){
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@mixin btn(){
	display: block;
		position: absolute;
		z-index: 2;
		bottom: 8%;
		background:transparent;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 8px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 4%;
		padding-left: 4%;
		display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
}
@mixin btnBefore($radio){
	content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: #fff;
	  border-radius: $radio;
	  -webkit-transform: scaleY(0);
	  transform: scaleY(0);
	  -webkit-transform-origin: 50% 0;
	  transform-origin: 50% 0;
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
}
@mixin btnAll(){
	-webkit-transform: scaleY(1);
	  transform: scaleY(1);
	  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.inicio{
	@include section();
	background-color: #111;
}
.videoIntro{
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 1;
	-webkit-background-size: content;
	-moz-background-size: content;
	-o-background-size: content;
	background-size: content;

	video{
		background-size: cover;
		top:0;
		height: auto;
		min-height: 100%;
		min-width: 100%;
		position: fixed;
		right: 0;
		width: 100%;
		z-index: -100;
	}
}
@mixin txtInicio(){
	text-align: center;
	color: #fff;
}
.info{
	display: block;
	position: fixed;
	background-color: rgba(55,55,55,0.7);
	border-radius: 10px;
	padding: 8px;
	z-index: 2!important;
	width: 32%;
	top: 100%;
	left: 7%;
	p{	
	@include txtInicio();
	}
}
.info2{
	display: block;
	position: fixed;
	background-color: rgba(55,55,55,0.7);
	border-radius: 10px;
	padding: 8px;
	z-index: 2!important;
	width: 32%;
	top: 100%;
	right: 7%;
	p{	
	@include txtInicio();
	}
}
.btnIniciar{
	@include btn();
	right: 38%;
}
.btnIniciar:before {
   @include btnBefore(6px);
}
.btnIniciar:hover, .btnIniciar:focus, .btnIniciar:active {
  color: #333;
}
.btnIniciar:hover:before, .btnIniciar:focus:before, .btnIniciar:active:before {
  @include btnAll();
}
/*SLIDER//////////////////////////////////////*/
#banner {
	display: none;
}
.mdi-image-slideshow:before {
  content: "\e854";
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.slider {
  position: relative;
  height: 400px;
  width: 100%;
}

.slider.fullscreen {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slider.fullscreen ul.slides {
  height: 100%;
}

.slider.fullscreen ul.indicators {
  z-index: 3;
  bottom: 30px;
}

.slider .slides {
  background-color: #333;
  margin: 0;
  height: 400px;
}

.slider .slides li {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  overflow: hidden;
}

.slider .slides li img {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.slider .slides li .caption {
  color: #fff;
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  opacity: 0;
}

.slider .slides li .caption p {
  color: #e0e0e0;
}

.slider .slides li.active {
  z-index: 2;
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.slider .indicators .indicator-item {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 12px;
  background-color: #e0e0e0;
  transition: background-color .3s;
  border-radius: 50%;
}

.slider .indicators .indicator-item.active {
  background-color: #4CAF50;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #c2c0c2;
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #26a69a;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  margin: -5px 0 0 0;
  transition: .3s;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
/*FIN SLIDER/////////////////////////////////*/
/*////////////////////////////MENÚ////////////////////////////////*/
.menu{
	display: block;
	height: 54px;
	background-color: rgba(0,25,89,0.7)!important;
	-moz-box-shadow:0.7px 3.4px 6.4px #1a1a1a!important;
    -webkit-box-shadow:0.7px 3.4px 6.4px #1a1a1a!important;
    box-shadow:0.7px 3.4px 6.4px #1a1a1a!important;
}
@media(min-width:768px) {
    .menuSimple {
        padding: 6px;
        border-bottom: 0;
        letter-spacing: 1px;
    }
    .menuSimple.top-nav-collapse {
        padding: 0;
        background-color: #001959!important;
    }
    .menu_bar{
      padding: 6px;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
    }
    .menu_bar.top-nav-collapse{
      padding: 0;
      background-color: #001959!important;
      -moz-box-shadow:0.7px 3.4px 6.4px #1a1a1a!important;
      -webkit-box-shadow:0.7px 3.4px 6.4px #1a1a1a!important;
      box-shadow:0.7px 3.4px 6.4px #1a1a1a!important; 
    }
    .bt-menu{
      	padding: 6px;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
    }
    .bt-menu.top-nav-collapse{
      padding: 0;
      background-color: #001959!important;
    }
}
.menu_bar {
  display:none;
}
.menuFijo ul {
  overflow:hidden;
  list-style:none;
}
.menuFijo ul li {
  float: right;
  margin-right: 50px;
  display: inline-block;
}
.menuFijo ul li:hover {
	border-radius: 6px;
	background: -webkit-linear-gradient(rgba(230,230,230,0.8), rgba(0,25,89,0));
	background: -o-linear-gradient(rgba(230,230,230,0.8), rgba(0,25,89,0));
	background: linear-gradient(rgba(230,230,230,0.8), rgba(0,25,89,0));
}
.menuFijo ul li a {
  color:#f5f5f5;
  padding:10px;
  display:block;
  text-decoration:none!important;
  letter-spacing: 0.7pt;
  font-size: 16px;
  margin-top: 2px;
}
@media screen and (max-width:979px ) {
.menu{
	background-color: rgb(0,25,89)!important;
}
  .menuFijo {
    width:80%;
    height: auto;
    left:-100%;
    margin:0;
    position: fixed!important;
  }
  .menuFijo ul li {
    display:block;
    float:none;
    border-bottom:1px solid rgba(255,255,255, .3);
  }
  .menu_bar {
    display:block;
    width:100%;
    height: 54px;
    background-color: #001959;
    z-index: 6;
  }
  .menu_bar .bt-menu {
    display:block;
    padding: 5px;
    background:#001959!important;
    color:#999999;
    text-decoration:none;
    font-weight: bold;
    font-size:16px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  .menu_bar span {
    float:right;
    color: #f5f5f5;
    font-size:25px;
    margin-right: 3%;
    margin-top: 4px;
  }
}
/*/////////////////////////FIN DEL MENÚ///////////////////////////*/
#romeliaHistoria{
	@include section();
	top: 100%;
	.btnLiberacion{
		@include btn()
		right: 38%;
		
	}
	.btnLiberacion:before {
	   @include btnBefore(6px);
	}
	.btnLiberacion:hover, .btnLiberacion:focus, .btnLiberacion:active {
	  color: #333;
	}
	.btnLiberacion:hover:before, .btnLiberacion:focus:before, .btnLiberacion:active:before {
	  @include btnAll();
	}

	.btnShananda{
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 50%;
		left: 2%;
		background:transparent;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 8px;
		padding-left: 8px;
		display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	  span{
	  	font-size: 25px;
	  }
	}
	.btnShananda:before {
	   @include btnBefore(50px);
	}
	.btnShananda:hover, .btnShananda:focus, .btnShananda:active {
	  color: #333;
	}
	.btnShananda:hover:before, .btnShananda:focus:before, .btnShananda:active:before {
	  @include btnAll();
	}

	.btnHomero{
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 50%;
		right: 2%;
		background:transparent;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 8px;
		padding-left: 8px;
		display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	   span{
	  	font-size: 25px;
	  }
	}
	.btnHomero:before {
	  @include btnBefore(50px);
	}
	.btnHomero:hover, .btnHomero:focus, .btnHomero:active {
	  color: #333;
	}
	.btnHomero:hover:before, .btnHomero:focus:before, .btnHomero:active:before {
	  @include btnAll();
	}
	
}
#shananda{
	@include section();
	left: -100%;
	
	.btnShananda{
		@include btn()
		right: 38%;
		
	}
	.btnShananda:before {
	   @include btnBefore(6px);
	}
	.btnShananda:hover, .btnShananda:focus, .btnShananda:active {
	  color: #333;
	}
	.btnShananda:hover:before, .btnShananda:focus:before, .btnShananda:active:before {
	  @include btnAll();
	}
	.volverRomeDer{
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 50%;
		right: 2%;
		background:transparent;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 8px;
		padding-left: 8px;
		display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	   span{
	  	font-size: 25px;
	  }
	}
	.volverRomeDer:before {
	   @include btnBefore(50px);
	}
	.volverRomeDer:hover, .volverRomeDer:focus, .volverRomeDer:active {
	  color: #333;
	}
	.volverRomeDer:hover:before, .volverRomeDer:focus:before, .volverRomeDer:active:before {
	  @include btnAll();
	}

}
#homero{
	@include section();
	right: -100%;

	.btnHomero{
		@include btn()
		right: 38%;
	}
	.btnHomero:before {
	   @include btnBefore(6px);
	}
	.btnHomero:hover, .btnHomero:focus, .btnHomero:active {
	  color: #333;
	}
	.btnHomero:hover:before, .btnHomero:focus:before, .btnHomero:active:before {
	  @include btnAll();
	}

	.volverRomeIzq{
		display: block;
		position: absolute;
		z-index: 2;
		bottom: 50%;
		left: 2%;
		background:transparent;
		color: #fff;
		border: 2px solid #fff;
		border-radius: 50px;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-right: 8px;
		padding-left: 8px;
		display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: translateZ(0);
	  transform: translateZ(0);
	  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.5s;
	  transition-duration: 0.5s;
	   span{
	  	font-size: 25px;
	  }
	}
	.volverRomeIzq:before {
	   @include btnBefore(50px);
	}
	.volverRomeIzq:hover, .volverRomeIzq:focus, .volverRomeIzq:active {
	  color: #333;
	}
	.volverRomeIzq:hover:before, .volverRomeIzq:focus:before, .volverRomeIzq:active:before {
	  @include btnAll();
	}
}
#liberacion{
	@include section();
	bottom: -100%;

	.btnCreditos{
		@include btn()
		right: 42%;
		
	}
	.btnCreditos:before {
	   @include btnBefore(6px);
	}
	.btnCreditos:hover, .btnCreditos:focus, .btnCreditos:active {
	  color: #333;
	}
	.btnCreditos:hover:before, .btnCreditos:focus:before, .btnCreditos:active:before {
	  @include btnAll();
	}
}




/*QUERYS PARA MÓVIL*/
	@media screen and (max-width: 900px) {
		.principal{
			display: none;
		}
		#banner{
			display: block;
		}
	}
/*FIN QUERYS PARA MÓVIL*/